@font-face {
  font-family: "Pokemon Solid";
  src: local("Pokemon Solid"),
    url("./assets/fonts/Pokemon\ Solid.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/images/Background.webp") no-repeat center center
    fixed;
  background-size: cover;
  text-align: center;
  overflow-y: hidden;
}
.app-title {
  font-family: "Pokemon Solid";
  color: yellow;
  -webkit-text-stroke: 3px rgb(1, 41, 218);
  font-size: 4rem;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .app-title {
    font-size: 2.5rem;
    -webkit-text-stroke: 2px rgb(1, 41, 218);
  }
}
